// <-- common
$color-text: #777;

@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h2,
h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

@mixin dimension-partition {
  max-width: 1120px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 480px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@mixin text-in-block {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@mixin checkmarks ($selector, $color-check, $color-bg) {
  #{$selector} {
    position: relative;
    list-style: none;
    padding-left: 35px;
    @include text-in-block;

    &:before {
      position: absolute;
      left: 0;
      top: 25%;
      content: "";
      width: 15px;
      height: 15px;
      background-color: $color-bg;
      border-radius: 50%;
    }

    &:after {
      color: #fff;
      content: "";
      position: absolute;
      left: 5px;
      top: 35%;
      width: 3px;
      border-bottom: 2px solid $color-check;
      height: 6px;
      border-right: 2px solid $color-check;
      transform: rotate(45deg);
    }
  }
}

// common -->

// <-- HEADER

.header {
  padding: 30px 0;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  background: url("../images/header-phones@1x.png") bottom right no-repeat,
  linear-gradient(to right, #fd712c, #ee216e);

  @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../images/header-phones@2x.png") bottom right no-repeat,
    linear-gradient(to right, #fd712c, #ee216e);
    background-size: 1000px, cover;
  }
}

.wrapper-header {
  @include dimension-partition;
}

.name-app__head,
.logo {
  display: inline;
}

.name-app__head {
  font-size: 36px;
}

.header__navigation,
.wrapper-right-part,
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__navigation {
  justify-content: center;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.wrapper-right-part {
  justify-content: space-around;

  & > * {
    margin: 0 20px;
  }
}

.navigation__list {
  list-style: none;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  @media (max-width: 321px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  a {
    color: #fff;
    text-decoration: none;

    a:hover {
      text-decoration: underline;
    }
  }
}

.list-item {
  padding: 0 15px;

  @media (min-width: 768px) {
    padding-right: 42px;
  }
}

.header__button-download,
.banners__button-start-exploring {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 25px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 1px #8f8f8f;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px 5px #fff;
  }
}

.banners__features {
  list-style-position: inside;
  margin-bottom: 35px;
}

.banners {
  @media (max-width: 360px) {
    padding: 100px 0;
  }

  @media (min-width: 360px) {
    padding: 150px 0;
  }

  @media (min-width: 768px) {
    max-width: 500px;
  }

  @media (max-width: 1400px) {
    & > *:not(button) {
      background-color: rgba(119, 119, 119, .6);
      padding: 10px;
      border-radius: 10px;
    }
  }
}

.banners__promo-head {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 54px;
  }
}

.banners__promo-text {
  margin-bottom: 20px;
  @include text-in-block;
  line-height: 1.5;
}

.banners__features {
  @include checkmarks('.features__item', #fd712c, #fff);
}

.banners__button-start-exploring {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
}

// HEADER -->

// <-- SECTION ADVANTAGES

.section-advantages {
  @include dimension-partition;
}

.section-advantages__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 120px;
  }
}

.advantage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 25px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @media (min-width: 768px) {
    flex-basis: 30%;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

.wrapper-advantage-icon {
  width: 25px;
  height: 25px;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 50%;
}

.advantage__description {
  flex-basis: 70%;
  flex-grow: 1;
  margin-left: 20px;

  h3 {
    margin-bottom: 15px;
  }

  p {
    @include text-in-block;
    color: $color-text;
    line-height: 2;
  }
}

// SECTION ADVANTAGES -->

// <-- SECTION DEMOS

.section-demos {
  @include dimension-partition;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.wrapper-img-phone {
  text-align: center;
}

.wrapper-img-phone {
  position: relative;
  margin-right: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 50%;
    height: 2px;
    top: 90%;
    background: transparent;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, .4);
  }
}

.section-demos__img-phone {
  max-width: 100%;
  padding-bottom: 80px;

  @media (max-width: 480px) {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .wrapper-img-phone,
  .section-demos__description {
    flex-basis: 50%;
  }
}

.section-demos__text {
  @include text-in-block;
  color: $color-text;

  @media (min-width: 480px) {
    line-height: 2;
  }

  &:first-of-type {
    margin-bottom: 60px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.section-demos__demos-list {
  @include checkmarks('.demos-list__item', #fff, #000);
  color: $color-text;

  @media (min-width: 480px) {
    line-height: 2;
  }
}

// SECTION DEMOS -->

// <-- SECTION SCREENSHOTS-SLIDER

.section-screenshots-slider {
  background-color: #f7fafc;
  text-align: center;
}

.wrapper-screenshots-slider {
  @include dimension-partition;
  padding-top: 85px;
  padding-bottom: 85px;
  max-width: 800px;
  margin: auto;
}

.section-screenshots-slider__description {
  @include text-in-block;
  color: $color-text;
}


// SECTION SCREENSHOTS-SLIDER -->

// <-- SECTION PRICE-LIST

.section-pricing {
  @include dimension-partition;
  text-align: center;
  padding-top: 119px;
  padding-bottom: 119px;
}

.section-pricing__description {
  @include text-in-block;
  color: $color-text;
  max-width: 650px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.tariff__title,
.tariff__price {
  font-weight: 500;
  font-family: "Dosis", sans-serif;
}

.tariff__title {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tariff {
  display: inline-block;
  background-color: #f7fafc;
  margin: 10px 10px 15px;
  transition: box-shadow .5s ease-in-out, transform .3s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
    }

    &:nth-child(3):hover,
    &:nth-child(4):hover {
      box-shadow: 0 10px 30px 10px rgba(0, 0, 0, .1);
    }
  }
}

.tariff:hover .tariff__price,
.tariff:hover .tariff__button {
  color: #fff;
  background: linear-gradient(to right, #fd712c, #ee216e);
}

.tariff:hover .tariff__button {
  border: 2px solid #e3e3e3;
}

.tariff__price {
  font-size: 50px;
  line-height: .8;
  position: relative;
  margin-bottom: 25px;
  background-color: #fff;
  padding: 25px 0 45px;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 70%;
    width: 50%;
    margin: 1px -1px;
    height: 33px;
    overflow: hidden;
  }

  &:before {
    right: 0;
    background: linear-gradient(to right bottom, transparent 50%, #f7fafc 50%);
  }

  &:after {
    left: 0;
    background: linear-gradient(to left bottom, transparent 50%, #f7fafc 50%);
  }

  .price-text {
    position: relative;
    display: inline-block;
    height: 100%;
    margin-right: 10px;
  }

  sup {
    position: absolute;
    left: -10px;
    vertical-align: top;
  }

  sub {
    position: absolute;
    bottom: 0;
    vertical-align: baseline;
  }

  sup, sub {
    font-size: 20px;
  }
}

.tariff__options {
  display: inline-block;

  &,
  & + p {
    color: $color-text;
    @include text-in-block;
    padding: 20px 50px;
  }

  & > p {
    padding-bottom: 5px;
    border-bottom: 1px dashed #e3e3e3;
  }
}

.tariff__button {
  padding: 5px 15px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  font-weight: 700;
  margin-bottom: 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #fd712c;
  }
}
